<h1>Liverpool</h1>

<ul>
    <li><a href="{{path('viewUser')}}">Usuarios</a></li>
    <li><a href="{{path('departamento_index')}}">Departamentos</a></li>
    <li><a href="{{path('categoria_index')}}">Categorias</a></li>
    <li><a href="{{path('empleado_index')}}">Productos</a></li>
    <li><a href="{{path('empleado_index')}}">Empleados</a></li>
</ul>
<br />
<br />
<hr />
<br />
<br />
<ul>
    <li><a href="#">Registrate</a></li>
</ul>