{{ form_start(formTWIG, {'method': 'POST'}) }}

    <div class="form-group">
        {{form_row (formTWIG.nombre)}}
    </div>
    <div class="form-group">
        {{form_row (formTWIG.apellidopaterno)}}
    </div>
    <div class="form-group">
        {{form_row (formTWIG.apellidomaterno)}}
    </div>
    <div class="form-group">
        {{form_row (formTWIG.fechanacimiento)}}
    </div>
    <div class="form-group">
        {{form_row (formTWIG.direccion)}}
    </div>
    <div class="form-group">
        {{form_row (formTWIG.email)}}
    </div>
    <div class="form-group">
        <br />
        <hr/>
        <h4>Crea tu usuario:</h4>
    </div>
    <div class="form-group">
        {{form_row (formTWIG.usuario)}}
    </div>
    <div class="form-group">
        {{form_row (formTWIG.contrasena)}}
    </div>
    <div class="form-group">
        
    </div>
    <div class="form-group">
        {{form_row (formTWIG.submit , {'label': var })}}
    </div>

{{form_end(formTWIG)}}